.SpinButton__wrap {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.SpinButton__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.SpinButton {
    appearance: none;
    outline: transparent;
    border: none;
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: rgb(22, 40, 71);
}

.SpinButton img {
    width: 60%;
    height: auto;
}

.SpinButton:hover, .SpinButton:disabled, .Arrow:disabled {
    background-color: rgb(34, 61, 108);
}

.SpinButton:disabled, .Arrow:disabled {
    cursor: not-allowed;
}

.SpinButton__container span {
    font-weight: 500;
}

.Arrow {
    appearance: none;
    outline: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1/1;
    background-color: rgb(22, 40, 71);
    color: #fff;
    font-size: 1.8em;
    line-height: 1;
    vertical-align: middle;
    position: relative;
}

.Arrow span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 3px));
}

.Arrow:hover {
    background-color: rgb(34, 61, 108);
}

.ArrowLeft {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 50%);
}

.ArrowRight {
    clip-path: polygon(100% 50%, 0% 100%, 25% 50%, 0% 0%);
}
