.Symbol {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}