.Reel {
    width: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: fit-content;
}

.Reel.isSpinning {
    animation-name: spinAnimation;
    animation-duration: var(--spin-duration);
    animation-fill-mode: forwards;
}

@keyframes spinAnimation {
    from {
        transform: none;
        filter: blur(3px);
    }
    to {
        transform: translateY(calc(-100% + (150px * 3) + (30px * 2)));
    }
}